.main{
    margin-top: 20px;
}
.data {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 25px;
}

.data_item{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    padding: 0px 14px 0px 14px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}