.coma{
    background-color: aqua;
    padding: 2px;
}
.comb{
    
        background-color: rgb(36, 63, 63);
        padding: 2px;
}
.comc{
    background-color: rgb(248, 255, 255);
    padding: 2px;
}